{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Product List{% endblock %}

{% block content %}
<h1 class="top-block">Меню</h1>
<h2>Кофейные напитки</h2>
<div class="card-container">
    {% for product in coffee %}
    <div class="card">
        <img src="{{ product.image.url }}" alt="Coffee Image">
        <div class="card-content">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p class="price">₽{{ product.price }}</p>
            {% if user.is_anonymous %}
            {% else %}
            <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart">В корзину</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<h2 style="margin-top: 50px">Выпечка</h2>
<div class="card-container">
    {% for product in pastry %}
    <div class="card">
        <img src="{{ product.image.url }}" alt="Pastry Image">
        <div class="card-content">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p class="price">₽{{ product.price }}</p>
            {% if user.is_anonymous %}
            {% else %}
            <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart">В корзину</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
