{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Your Cart{% endblock %}

{% block content %}
<h1>Your Cart</h1>
<div class="cart-container">
    {% for item in cart.cartitem_set.all %}
    <div class="cart-item">
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        <div class="item-info">
            <h3>{{ item.product.name }}</h3>
            <p>${{ item.product.price }}</p>
        </div>
        <div class="item-quantity">
            <button class="btn-decrease">-</button>
            <span>{{ item.quantity }}</span>
            <button class="btn-increase">+</button>
        </div>
    </div>
    {% endfor %}
</div>
<div class="cart-summary">
    Total: ${{ cart_total }}
</div>
<a href="{% url 'product_list' %}">Back to Products</a>
{% endblock %}
